.column
  .box
    = link_to post do
      %h4.title.is-4= post.title
    %p.tag.is-light= "Submitted #{time_ago_in_words(post.created_at)} ago"
    %p.tag.is-warning= "Edited #{time_ago_in_words(post.updated_at)} ago"
    %br
    %br
    %p.is-size-7.has-text-weight-semibold= truncate(post.content, length: 50)