- if @posts.length > 0
  - @posts.each do |post|
    %h2= link_to post.title, post
    %p= "Submitted #{time_ago_in_words(post.created_at)} ago"
    %p= "Edited #{time_ago_in_words(post.updated_at)} ago"
    %p= truncate(post.content, length: 80)
- else
  %h1 You haven't posted anything yet!