.container.has-text-centered
  .columns.is-centered
    .column.is-two-thirds
      .box
        %h1.title= @post.title
        %p= simple_format(@post.content)
        %br
        %p.tag= @post.created_at.to_formatted_s(:short)
      .buttons
        = link_to 'Back to all', posts_path, class: 'button is-dark is-outlined is-inverted'
        = link_to 'Edit', edit_post_path(@post), class: 'button is-dark is-outlined is-inverted'
        = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-outlined is-inverted'