!!!
%html
  %head
    %title Sudo Reddit
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      .header-inner
        = link_to 'File Cabinet', root_path

        %nav
          - if user_signed_in?
            = link_to 'New post', new_post_path
            = link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            = link_to 'Log in', new_user_session_path
            %p.notice= notice
            %p.alert= alert

    = yield
