!!!
%html
  %head
    %title Sudo Reddit
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    

  %body
    %section.hero.is-dark
      .hero-head
        %nav.navbar.is-transparent.is-danger
          .container
            .navbar-brand
              .navbar-item= link_to 'Sudo Reddit', root_path, :class => 'title is-4 button is-large is-danger'
              %span.navbar-burger.burger{ data: { target: 'navbarMenuHeroA' } }
                %span
                %span
                %span
              -if user_signed_in?
                .notification.is-danger.navbar-item
                  %p.notice= notice
                  %p.alert= alert
                    
            %ul#navbarMenuHeroA.navbar-menu
              - if user_signed_in?
                .navbar-end.navbar-item
                  = link_to new_post_path, class: 'button is-primary is-inverted' do
                    New post
                    %span.icon
                      %i.fa.fa-plus-circle
                  = link_to destroy_user_session_path, method: :delete, class: 'button is-danger' do
                    Sign out
                    %span.icon
                      %i.fa.fa-sign-out
              - else
                .navbar-end.navbar-item
                  = link_to new_user_session_path, class: 'button is-danger is-inverted' do
                    Log in
                    %span.icon
                      %i.fa.fa-sign-in
                  = link_to new_user_registration_path, class: 'button is-danger is-inverted' do
                    Sign up
                    %span.icon
                      %i.fa.fa-user-plus

      .hero-body
        = yield
        
      .hero-foot
        %nav.navbar.is-danger
          .container
            .navbar-end
              = link_to 'Sudo Reddit 2017', root_path, class: 'navbar-item'